		{# <header>
			<div class="logo">
				<a href="#accueil_banner"><img class="logo_img" src="assets/img/logo.svg" alt=""></a>
			</div>
			<div class="menuToggle" onclick="toggleMenu();"></div>
			<ul class="navigation">
				<li>
					<a href="#accueil_banner">Accueil</a>
				</li>
				<li>
					<a href="#mission">À propos</a>
				</li>
				<li>
					<a href="">Nos produits</a>
					<ul class="product_menu">
						<li>
							<a href="{{ path('app_mariage') }}">Gâteaux de mariage</a>
						</li>
						<li>
							<a href="{{ path('app_anniversaire') }}">Gâteaux d'anniversaire</a>
						</li>
						<li>
							<a href="{{ path('app_patisserie') }}">Pâtisseries</a>
						</li>
						<li>
							<a href="{{ path('app_boulangerie') }}">Viennoiseries</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="{{ path('app_contact') }}">Contact</a>
				</li>
			</ul>
		</header> #}