{% extends 'base.html.twig' %}

{% block title %}Pâtisserie{% endblock %}

{% block body %}
    <!--------------- BANNIERE ---------------->

    {% include '_partials/_banner.html.twig' with {'title': 'Pâtisseries', 'banner_class': 'patisserie_banner'} %}


    <!--------------- MENU ---------------->
   <section class="menu" id="menu">
        <div class="menu_description">
            <h1>Pâtisserie</h1>
            <p>Entrez dans notre monde enchanté de pâtisseries exquises où chaque création est une invitation à la gourmandise. Nos pâtissiers sont des artistes qui maîtrisent l'art de la pâtisserie traditionnelle avec une touche de modernité. Chaque bouchée de nos délices sucrés est une explosion de saveurs, un mélange de textures et une expérience sensorielle inoubliable. Laissez-vous séduire par nos macarons délicats, nos éclairs fondants et nos tartes aux fruits fraîchement préparées. Chez nous, la pâtisserie est un voyage délicieux à travers l'art et la passion.
            </p>
        </div>
        <div class="menu_content">
            {% for product in patisserieProducts %}
            <div class="menu_content_wrapper">
                <div class="menu_content_box">
                    <article>
                         {% if product.images is not empty %}
                            <img src="{{ asset('/assets/img/products/' ~ product.images.first().name) }}" alt="{{ product.productName }}">
                        {% else %}
                            <p>Aucune image disponible</p>
                        {% endif %}
                    </article>
                </div>
                <div>
                    <h3>{{ product.productName }}</h3>
                </div>
                <p>
                    {{ product.productDescription }}
                </p>
                <p>
                    {{ product.prix }} GNF
                </p>
                <br>
                <a href="" class="btn">Ajouter au panier</a>
            </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}
