{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
<section class="contact">
    {% include "_partials/_flash.html.twig" %}
    <div class="contact_text">
        <h1>Notre équipe est à votre écoute</h1>
        <p>
            Notre équipe est toujours disponible pour vous aider. Si vous avez des questions, des problèmes ou des
            suggestions, veuillez remplir le formulaire ci-dessous. Nous serons ravis de vous assister et de
            répondre à vos attentes dans les meilleurs délais.</p>
    </div>
<br>
<br>
<br>
<br>
    <div class="contact_form">
        {{ form_start(form) }}
        {{ form_row(form.fullName) }}
        {{ form_row(form.email) }}
        {{ form_row(form.number) }}
        {{ form_row(form.subject) }}
        {{ form_row(form.message) }}
        {{ form_row(form.submit) }}
        {{ form_end(form) }}
    </div>
</section>
{% endblock %}
